.bauhaus-classic {
  color: rgb(0, 0, 0);
  color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
  color: rgb(230, 50, 40);
  color: rgb(20, 110, 170);
  color: rgb(0, 130, 90);
  color: rgb(240, 200, 0);
  color: rgb(240, 140, 40);
}

.mid-century {
  color: #d96654;
  color: #f8dccc;
  color: #a0a65e;
  color: #ddc688;
  color: #4c5154;
  color: rgb(112, 138, 137);
}

.blade-runner {
  color: #6b3e41;
  color: #926b82;
  color: #e7e3e6;
  color: #644f76;
  color: #3c2c45;
  color: #162030;
  color: #223e66;
  color: #537f9f;
  color: #94b4b1;
  color: #67bfb8;
  color: #1c6b63;
}

.test {
  color: #f7efe0;
  color: #e7ebee;
}
